html {
	background: url(https://i.imgur.com/AaBIUfm.jpg);
}

td {
	border: 2px solid white;
	height: 100px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	font-family: "Comic Sans MS";
	font-size: 70px;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	position: absolute;
	left: 50%;
	margin-left: -155px;
	top:50px;
	border:2px solid lightcoral;
}
